body {
  margin: 0;
  font-family: "Montserrat",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
}
.MuiTypography-root {
  font-family: "Montserrat",
    sans-serif !important;
}
.MuiTypography-body1 {
  font-family: "Montserrat",
  sans-serif !important;
}
.MuiOutlinedInput-input {
  padding: 10px !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 0.8rem !important;
}

.MuiPaginationItem-root {
  border-radius: 0 !important;
  border-left: 1px solid #ddd !important;
  margin: 0 !important;
  font-size: 0.8rem !important;
  font-family: "Montserrat", sans-serif !important;
}

.MuiTableCell-sizeSmall {
  padding: 4px 4px !important;
  text-align: center !important;
  font-size: 0.8rem !important;
  font-family: "Montserrat", sans-serif !important;
  color: #444 !important;
}

.MuiTableCell-head {
  font-size: 0.65rem !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  font-family: "Montserrat", sans-serif !important;
  color: #fff !important;
  background-color: #213F7E !important;
}

.MuiButton-containedSecondary {
  background-color: #4195d1 !important;
  font-family: "Montserrat", sans-serif !important;
}

.MuiButton-containedPrimary {
  background-color: #213f7e !important;
  font-family: "Montserrat", sans-serif !important;
}

.MuiDialog-paper {
  border-radius: 10px !important;
}
.MuiTypography-body1 {
  font-size: 15px !important;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 2px;
}

.dropdown-menu.show {
      background-color: rgb(65, 149, 209);
      padding: 0.5rem 1.4rem !important;
      color: rgb(255, 255, 255);
      position: absolute;
      transform: translate3d(85px, -42px, 0px);
      top: 0px;
      left: -85px !important;
      will-change: transform;
}
.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  margin-left: 26rem;
}
